# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
myenv/
# .gitignore content
.env
# IDE / Editor folders
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Database / local files
*.sqlite3
*.db
